@import "tailwindcss";
* {
  margin: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 228, 228);
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 8px;
  font-family: inherit;
  background-color: black;
  cursor: pointer;

  color: white;
}
button:hover {
  border-color: #646cff;
}
input {
  /* background-color: #f7f3f3; */
  border: 1px solid #e2dbdb;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 15px;
  width: 416px;
}
h1 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}
p {
  font-size: 14px;
  font-weight: 600;
}
